hmmlearn==0.2.0
Keras
librosa==0.6.0
matplotlib==2.1.1
midi==0.2.3
numba==0.37.0
numpy
PyWavelets==0.5.2
scikit-learn==0.19.1
scipy==1.0.0
sklearn==0.0
tensorflow
tensorflow-gpu
tensorflow-tensorboard
pretty_midi
